/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	color: #505050;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
    margin: 1em auto 1em;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: "Gentium Basic", Georgia, serif;
	font-size: 16px;
}

.content {
	padding: 1em;
}


h1, h2, h3 {
	font-family: "Open Sans", sans-serif;
}

ol > li {
	list-style-type: decimal;
}

ol ol li {
	list-style-type: lower-alpha;
}

ol ol ol li {
    list-style-type: lower-roman;
}

/* H2 numbering */

h1 { counter-reset: mysection; }

h2:before
    {
    counter-increment:mysection;
    content:counter(mysection) " ";
    }

.header {
	width: 100%;
	background-color: #cfcfcf;
	padding-top: 0 em;
	border: 0px;
}

.header h1 {
	margin: 0;
	padding: 1.5em 1em;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	color: #666666;
	text-align: left;
	text-transform: capitalize;
	line-height: inherit;
}


.header a:hover {
	/*text-decoration: underline;*/
}

.centerblock {
	margin: auto;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover, a:visited {
	color: inherit;
}

.btn {
  display: block;
  font-size: 2em;
  margin: 0px;
  padding: 0px;
  
}

.btn li {
	list-style-type: none;
	border-radius: .5em;
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
	margin: 0.2em;
}

.btn a {
	color: inherit;
	text-decoration: inherit;
	display: block;
}

.active {
	font-weight: bold;
}


.fifthform {
	background-color: rgba(254, 211, 211, 0.2);
}

.lowershell {
	background-color: rgba(254, 211, 211, 0.4);
	
}

.uppershell {
	background-color: rgba(254, 211, 211, 0.6);
	
}

.sixthform {
	background-color: rgba(254, 211, 211, 0.8);
	
}

.remove {
	background-color: rgba(254, 211, 211, 1);	
}

.other {
	background-color: #ffd3d3;
}

.btn a:hover {
	
}

.nextprep {
	background-color: rgba(255, 32, 32, 0.5);
	color: #000000;
}

.nextprep:hover {
	background-color: rgba(255, 32, 32, 0.70);
}

strong {
	/*color: red;*/
}

/* Tables, from Bootstrap */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #dddddd;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 800px) {
	.content {
		width:  800px;
		margin: 0 auto;
	}
	
	
	.span50 {
		width: 50%;
		float: left;
	}

}

@media print {
    h1 {
    	font-size: 14pt;
    	text-align: center;
    }
    
    h2 {
    	font-size: 12pt;
    }
    
    body {
    	font-size: 11pt;
    	margin: 0;
    }
    
    .btn {
    	display: none;
    }
    
    .content {
		margin: 0 2cm;
		padding: 0;
	}
	
	.header h1 {
		margin: 0;
		font-size: 8pt;
		text-align: left;
	}
	
	.header a[href]:after {
	    content: "";
	}

    ol ol li {
    page-break-inside:avoid;
    }

    .dontbreak {
        page-break-inside: avoid;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
